

/* Others*/

/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.table,.table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.table-all{border:1px solid #ccc}
.bordered tr,.table-all tr{border-bottom:1px solid #ddd}.striped tbody tr:nth-child(even){background-color:#f1f1f1}
.table-all tr:nth-child(odd){background-color:#fff}.table-all tr:nth-child(even){background-color:#f1f1f1}
.hoverable tbody tr:hover,.ul.hoverable li:hover{background-color:#ccc}.centered tr th,.centered tr td{text-align:center}
.table td,.table th,.table-all td,.table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.table th:first-child,.table td:first-child,.table-all th:first-child,.table-all td:first-child{padding-left:16px}
.btn,.button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.btn,.button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.disabled,.btn:disabled,.button:disabled{cursor:not-allowed;opacity:0.3}.disabled *,:disabled *{pointer-events:none}
.btn.disabled:hover,.btn:disabled:hover{box-shadow:none}
.badge,.tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.badge{border-radius:50%}
.ul{list-style-type:none;padding:0;margin:0}.ul li{padding:8px 16px;border-bottom:1px solid #ddd}.ul li:last-child{border-bottom:none}
.tooltip,.display-container{position:relative}.tooltip .text{display:none}.tooltip:hover .text{display:inline-block}
.ripple:active{opacity:0.5}.ripple{transition:opacity 0s}
.input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.dropdown-click,.dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.dropdown-hover:hover .dropdown-content{display:block}
.dropdown-hover:first-child,.dropdown-click:hover{background-color:#ccc;color:#000}
.dropdown-hover:hover > .button:first-child,.dropdown-click:hover > .button:first-child{background-color:#ccc;color:#000}
.dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.check,.radio{width:24px;height:24px;position:relative;top:6px}
.sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.bar-block .dropdown-hover,.bar-block .dropdown-click{width:100%}
.bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content{min-width:100%}
.bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{width:100%;text-align:left;padding:8px 16px}
.main,#main{transition:margin-left .4s}
.modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.bar{width:100%;overflow:hidden}.center .bar{display:inline-block;width:auto}
.bar .bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bar .dropdown-hover,.bar .dropdown-click{position:static;float:left}
.bar .button{white-space:normal}
.bar-block .bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.bar-block.center .bar-item{text-align:center}.block{display:block;width:100%}
.responsive{display:block;overflow-x:auto}
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}
.col,.half,.third,.twothird,.threequarter,.quarter{float:left;width:100%;}
.col.s1{width:8.33333%}.col.s2{width:16.66666%}.col.s3{width:24.99999%}.col.s4{width:33.33333%}
.col.s5{width:41.66666%}.col.s6{width:49.99999%}.col.s7{width:58.33333%}.col.s8{width:66.66666%}
.col.s9{width:74.99999%}.col.s10{width:83.33333%}.col.s11{width:91.66666%}.col.s12{width:99.99999%}
@media (min-width:601px){.col.m1{width:8.33333%}.col.m2{width:16.66666%}.col.m3,.quarter{width:24.99999%}.col.m4,.third{width:33.33333%}
.col.m5{width:41.66666%}.col.m6,.half{width:49.99999%}.col.m7{width:58.33333%}.col.m8,.twothird{width:66.66666%}
.col.m9,.threequarter{width:74.99999%}.col.m10{width:83.33333%}.col.m11{width:91.66666%}.col.m12{width:99.99999%}}
@media (min-width:993px){.col.l1{width:8.33333%}.col.l2{width:16.66666%}.col.l3{width:24.99999%}.col.l4{width:33.33333%}
.col.l5{width:41.66666%}.col.l6{width:49.99999%}.col.l7{width:58.33333%}.col.l8{width:66.66666%}
.col.l9{width:74.99999%}.col.l10{width:83.33333%}.col.l11{width:91.66666%}.col.l12{width:99.99999%}}
.rest{overflow:hidden}.stretch{margin-left:-16px;margin-right:-16px}
.content,.auto{margin-left:auto;margin-right:auto}.content{max-width:980px}.auto{max-width:1140px}
.cell-row{display:table;width:100%}.cell{display:table-cell}
.cell-top{vertical-align:top}.cell-middle{vertical-align:middle}.cell-bottom{vertical-align:bottom}
.hide{display:none!important}.show-block,.show{display:block!important}.show-inline-block{display:inline-block!important}
@media (max-width:1205px){.auto{max-width:95%}}
@media (max-width:600px){.modal-content{margin:0 10px;width:auto!important}.modal{padding-top:30px}
.dropdown-hover.mobile .dropdown-content,.dropdown-click.mobile .dropdown-content{position:relative}	
.hide-small{display:none!important}.mobile{display:block;width:100%!important}.bar-item.mobile,.dropdown-hover.mobile,.dropdown-click.mobile{text-align:center}
.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button{width:100%}}
@media (max-width:768px){.modal-content{width:500px}.modal{padding-top:50px}}
@media (min-width:993px){.modal-content{width:900px}.hide-large{display:none!important}.sidebar.collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.hide-medium{display:none!important}}
@media (max-width:992px){.sidebar.collapse{display:none}.main{margin-left:0!important;margin-right:0!important}.auto{max-width:100%}}
.top,.bottom{position:fixed;width:100%;z-index:1}.top{top:0}.bottom{bottom:0}
.overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.display-topleft{position:absolute;left:0;top:0}.display-topright{position:absolute;right:0;top:0}
.display-bottomleft{position:absolute;left:0;bottom:0}.display-bottomright{position:absolute;right:0;bottom:0}
.display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.display-container:hover .display-hover{display:block}.display-container:hover span.display-hover{display:inline-block}.display-hover{display:none}
.display-position{position:absolute}
.circle{border-radius:50%}
.round-small{border-radius:2px}.round,.round-medium{border-radius:4px}.round-large{border-radius:8px}.round-xlarge{border-radius:16px}.round-xxlarge{border-radius:32px}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{padding:0 8px}
.container,.panel{padding:0.01em 16px}.panel{margin-top:16px;margin-bottom:16px}
.code,.codespan{font-family:Consolas,"courier new";font-size:16px}
.code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.card,.card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.card-4,.hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.spin{animation:spin 2s infinite linear}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.animate-input{transition:width 0.4s ease-in-out}.animate-input:focus{width:100%!important}
.opacity,.hover-opacity:hover{opacity:0.60}.opacity-off,.hover-opacity-off:hover{opacity:1}
.opacity-max{opacity:0.25}.opacity-min{opacity:0.75}
.greyscale-max,.grayscale-max,.hover-greyscale:hover,.hover-grayscale:hover{filter:grayscale(100%)}
.greyscale,.grayscale{filter:grayscale(75%)}.greyscale-min,.grayscale-min{filter:grayscale(50%)}
.sepia{filter:sepia(75%)}.sepia-max,.hover-sepia:hover{filter:sepia(100%)}.sepia-min{filter:sepia(50%)}
.tiny{font-size:10px!important}.small{font-size:12px!important}.medium{font-size:15px!important}.large{font-size:18px!important}
.xlarge{font-size:24px!important}.xxlarge{font-size:36px!important}.xxxlarge{font-size:48px!important}.jumbo{font-size:64px!important}
.left-align{text-align:left!important}.right-align{text-align:right!important}.justify{text-align:justify!important}.center{text-align:center!important}
.border-0{border:0!important}.border{border:1px solid #ccc!important}
.border-top{border-top:1px solid #ccc!important}.border-bottom{border-bottom:1px solid #ccc!important}
.border-left{border-left:1px solid #ccc!important}.border-right{border-right:1px solid #ccc!important}
.topbar{border-top:6px solid #ccc!important}.bottombar{border-bottom:6px solid #ccc!important}
.leftbar{border-left:6px solid #ccc!important}.rightbar{border-right:6px solid #ccc!important}
.section,.code{margin-top:16px!important;margin-bottom:16px!important}
.margin{margin:16px!important}.margin-top{margin-top:16px!important}.margin-bottom{margin-bottom:16px!important}
.margin-left{margin-left:16px!important}.margin-right{margin-right:16px!important}
.padding-small{padding:4px 8px!important}.padding{padding:8px 16px!important}.padding-large{padding:12px 24px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}.padding-24{padding-top:24px!important;padding-bottom:24px!important}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}.padding-48{padding-top:48px!important;padding-bottom:48px!important}
.padding-64{padding-top:64px!important;padding-bottom:64px!important}
.left{float:left!important}.right{float:right!important}
.button:hover{color:#000!important;background-color:#ccc!important}
.transparent,.hover-none:hover{background-color:transparent!important}
.hover-none:hover{box-shadow:none!important}
/* Colors */
.amber,.hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.aqua,.hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.blue,.hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.light-blue,.hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.brown,.hover-brown:hover{color:#fff!important;background-color:#795548!important}
.cyan,.hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.blue-grey,.hover-blue-grey:hover,.blue-gray,.hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.green,.hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.light-green,.hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.indigo,.hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.khaki,.hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.lime,.hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.orange,.hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.deep-orange,.hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.pink,.hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.purple,.hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.deep-purple,.hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.red,.hover-red:hover{color:#fff!important;background-color:#f44336!important}
.sand,.hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.teal,.hover-teal:hover{color:#fff!important;background-color:#009688!important}
.yellow,.hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.white,.hover-white:hover{color:#000!important;background-color:#fff!important}
.black,.hover-black:hover{color:#fff!important;background-color:#000!important}
.grey,.hover-grey:hover,.gray,.hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.pale-red,.hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.pale-green,.hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.pale-yellow,.hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.pale-blue,.hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.text-amber,.hover-text-amber:hover{color:#ffc107!important}
.text-aqua,.hover-text-aqua:hover{color:#00ffff!important}
.text-blue,.hover-text-blue:hover{color:#2196F3!important}
.text-light-blue,.hover-text-light-blue:hover{color:#87CEEB!important}
.text-brown,.hover-text-brown:hover{color:#795548!important}
.text-cyan,.hover-text-cyan:hover{color:#00bcd4!important}
.text-blue-grey,.hover-text-blue-grey:hover,.text-blue-gray,.hover-text-blue-gray:hover{color:#607d8b!important}
.text-green,.hover-text-green:hover{color:#4CAF50!important}
.text-light-green,.hover-text-light-green:hover{color:#8bc34a!important}
.text-indigo,.hover-text-indigo:hover{color:#3f51b5!important}
.text-khaki,.hover-text-khaki:hover{color:#b4aa50!important}
.text-lime,.hover-text-lime:hover{color:#cddc39!important}
.text-orange,.hover-text-orange:hover{color:#ff9800!important}
.text-deep-orange,.hover-text-deep-orange:hover{color:#ff5722!important}
.text-pink,.hover-text-pink:hover{color:#e91e63!important}
.text-purple,.hover-text-purple:hover{color:#9c27b0!important}
.text-deep-purple,.hover-text-deep-purple:hover{color:#673ab7!important}
.text-red,.hover-text-red:hover{color:#f44336!important}
.text-sand,.hover-text-sand:hover{color:#fdf5e6!important}
.text-teal,.hover-text-teal:hover{color:#009688!important}
.text-yellow,.hover-text-yellow:hover{color:#d2be0e!important}
.text-white,.hover-text-white:hover{color:#fff!important}
.text-black,.hover-text-black:hover{color:#000!important}
.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover{color:#757575!important}
.text-light-grey,.hover-text-light-grey:hover,.text-light-gray,.hover-text-light-gray:hover{color:#f1f1f1!important}
.text-dark-grey,.hover-text-dark-grey:hover,.text-dark-gray,.hover-text-dark-gray:hover{color:#3a3a3a!important}
.border-amber,.hover-border-amber:hover{border-color:#ffc107!important}
.border-aqua,.hover-border-aqua:hover{border-color:#00ffff!important}
.border-blue,.hover-border-blue:hover{border-color:#2196F3!important}
.border-light-blue,.hover-border-light-blue:hover{border-color:#87CEEB!important}
.border-brown,.hover-border-brown:hover{border-color:#795548!important}
.border-cyan,.hover-border-cyan:hover{border-color:#00bcd4!important}
.border-blue-grey,.hover-border-blue-grey:hover,.border-blue-gray,.hover-border-blue-gray:hover{border-color:#607d8b!important}
.border-green,.hover-border-green:hover{border-color:#4CAF50!important}
.border-light-green,.hover-border-light-green:hover{border-color:#8bc34a!important}
.border-indigo,.hover-border-indigo:hover{border-color:#3f51b5!important}
.border-khaki,.hover-border-khaki:hover{border-color:#f0e68c!important}
.border-lime,.hover-border-lime:hover{border-color:#cddc39!important}
.border-orange,.hover-border-orange:hover{border-color:#ff9800!important}
.border-deep-orange,.hover-border-deep-orange:hover{border-color:#ff5722!important}
.border-pink,.hover-border-pink:hover{border-color:#e91e63!important}
.border-purple,.hover-border-purple:hover{border-color:#9c27b0!important}
.border-deep-purple,.hover-border-deep-purple:hover{border-color:#673ab7!important}
.border-red,.hover-border-red:hover{border-color:#f44336!important}
.border-sand,.hover-border-sand:hover{border-color:#fdf5e6!important}
.border-teal,.hover-border-teal:hover{border-color:#009688!important}
.border-yellow,.hover-border-yellow:hover{border-color:#ffeb3b!important}
.border-white,.hover-border-white:hover{border-color:#fff!important}
.border-black,.hover-border-black:hover{border-color:#000!important}
.border-grey,.hover-border-grey:hover,.border-gray,.hover-border-gray:hover{border-color:#9e9e9e!important}
.border-light-grey,.hover-border-light-grey:hover,.border-light-gray,.hover-border-light-gray:hover{border-color:#f1f1f1!important}
.border-dark-grey,.hover-border-dark-grey:hover,.border-dark-gray,.hover-border-dark-gray:hover{border-color:#616161!important}
.border-pale-red,.hover-border-pale-red:hover{border-color:#ffe7e7!important}.border-pale-green,.hover-border-pale-green:hover{border-color:#e7ffe7!important}
.border-pale-yellow,.hover-border-pale-yellow:hover{border-color:#ffffcc!important}.border-pale-blue,.hover-border-pale-blue:hover{border-color:#e7ffff!important}

/* container2 */

	.container2 {
		margin: 0 auto;
		max-width: calc(100% - 50px);
		max-height: calc(100% - 50px);
		width: 1200px;
	}

		.container2.medium {
			width: 900px;
		}

		@media screen and (max-width: 1680px) {

			.container2 {
				width: 1200px;
			}

				.container2.medium {
					width: 900px;
				}

		}

		@media screen and (max-width: 1280px) {

			.container2 {
				width: 960px;
			}

				.container2.medium {
					width: 720px;
				}

		}

		@media screen and (max-width: 980px) {

			.container2 {
				width: 100%;
			}

				.container2.medium {
					width: 75%;
				}

		}

		@media screen and (max-width: 736px) {

			.container2 {
				width: 100%;
				max-width: calc(100% - 30px);
			}

				.container2.medium {
					width: 100%;
				}

		}

/* row2 */

	.row2 {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.row2 > * {
			box-sizing: border-box;
		}

		.row2.gtr-uniform > * > :last-child {
			margin-bottom: 0;
		}

		.row2.aln-left {
			justify-content: flex-start;
		}

		.row2.aln-center {
			justify-content: center;
		}

		.row2.aln-right {
			justify-content: flex-end;
		}

		.row2.aln-top {
			align-items: flex-start;
		}

		.row2.aln-middle {
			align-items: center;
		}

		.row2.aln-bottom {
			align-items: flex-end;
		}

		.row2 > .imp {
			order: -1;
		}

		.row2 > .col-1 {
			width: 8.33333%;
		}

		.row2 > .off-1 {
			margin-left: 8.33333%;
		}

		.row2 > .col-2 {
			width: 16.66667%;
		}

		.row2 > .off-2 {
			margin-left: 16.66667%;
		}

		.row2 > .col-3 {
			width: 25%;
		}

		.row2 > .off-3 {
			margin-left: 25%;
		}

		.row2 > .col-4 {
			width: 33.33333%;
		}

		.row2 > .off-4 {
			margin-left: 33.33333%;
		}

		.row2 > .col-5 {
			width: 41.66667%;
		}

		.row2 > .off-5 {
			margin-left: 41.66667%;
		}

		.row2 > .col-6 {
			width: 50%;
		}

		.row2 > .off-6 {
			margin-left: 50%;
		}

		.row2 > .col-7 {
			width: 58.33333%;
		}

		.row2 > .off-7 {
			margin-left: 58.33333%;
		}

		.row2 > .col-8 {
			width: 66.66667%;
		}

		.row2 > .off-8 {
			margin-left: 66.66667%;
		}

		.row2 > .col-9 {
			width: 75%;
		}

		.row2 > .off-9 {
			margin-left: 75%;
		}

		.row2 > .col-10 {
			width: 83.33333%;
		}

		.row2 > .off-10 {
			margin-left: 83.33333%;
		}

		.row2 > .col-11 {
			width: 91.66667%;
		}

		.row2 > .off-11 {
			margin-left: 91.66667%;
		}

		.row2 > .col-12 {
			width: 100%;
		}

		.row2 > .off-12 {
			margin-left: 100%;
		}

		.row2.gtr-0 {
			margin-top: 0px;
			margin-left: 0px;
		}

			.row2.gtr-0 > * {
				padding: 0px 0 0 0px;
			}

			.row2.gtr-0.gtr-uniform {
				margin-top: 0px;
			}

				.row2.gtr-0.gtr-uniform > * {
					padding-top: 0px;
				}

		.row2.gtr-25 {
			margin-top: -6.25px;
			margin-left: -6.25px;
		}

			.row2.gtr-25 > * {
				padding: 6.25px 0 0 6.25px;
			}

			.row2.gtr-25.gtr-uniform {
				margin-top: -6.25px;
			}

				.row2.gtr-25.gtr-uniform > * {
					padding-top: 6.25px;
				}

		.row2.gtr-50 {
			margin-top: -12.5px;
			margin-left: -12.5px;
		}

			.row2.gtr-50 > * {
				padding: 12.5px 0 0 12.5px;
			}

			.row2.gtr-50.gtr-uniform {
				margin-top: -12.5px;
			}

				.row2.gtr-50.gtr-uniform > * {
					padding-top: 12.5px;
				}

		.row2 {
			margin-top: -25px;
			margin-left: -25px;
		}

			.row2 > * {
				padding: 25px 0 0 25px;
			}

			.row2.gtr-uniform {
				margin-top: -25px;
			}

				.row2.gtr-uniform > * {
					padding-top: 25px;
				}

		.row2.gtr-150 {
			margin-top: -37.5px;
			margin-left: -37.5px;
		}

			.row2.gtr-150 > * {
				padding: 37.5px 0 0 37.5px;
			}

			.row2.gtr-150.gtr-uniform {
				margin-top: -37.5px;
			}

				.row2.gtr-150.gtr-uniform > * {
					padding-top: 37.5px;
				}

		.row2.gtr-200 {
			margin-top: -50px;
			margin-left: -50px;
		}

			.row2.gtr-200 > * {
				padding: 50px 0 0 50px;
			}

			.row2.gtr-200.gtr-uniform {
				margin-top: -50px;
			}

				.row2.gtr-200.gtr-uniform > * {
					padding-top: 50px;
				}

		@media screen and (max-width: 1680px) {

			.row2 {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row2 > * {
					box-sizing: border-box;
				}

				.row2.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row2.aln-left {
					justify-content: flex-start;
				}

				.row2.aln-center {
					justify-content: center;
				}

				.row2.aln-right {
					justify-content: flex-end;
				}

				.row2.aln-top {
					align-items: flex-start;
				}

				.row2.aln-middle {
					align-items: center;
				}

				.row2.aln-bottom {
					align-items: flex-end;
				}

				.row2 > .imp-xlarge {
					order: -1;
				}

				.row2 > .col-1-xlarge {
					width: 8.33333%;
				}

				.row2 > .off-1-xlarge {
					margin-left: 8.33333%;
				}

				.row2 > .col-2-xlarge {
					width: 16.66667%;
				}

				.row2 > .off-2-xlarge {
					margin-left: 16.66667%;
				}

				.row2 > .col-3-xlarge {
					width: 25%;
				}

				.row2 > .off-3-xlarge {
					margin-left: 25%;
				}

				.row2 > .col-4-xlarge {
					width: 33.33333%;
				}

				.row2 > .off-4-xlarge {
					margin-left: 33.33333%;
				}

				.row2 > .col-5-xlarge {
					width: 41.66667%;
				}

				.row2 > .off-5-xlarge {
					margin-left: 41.66667%;
				}

				.row2 > .col-6-xlarge {
					width: 50%;
				}

				.row2 > .off-6-xlarge {
					margin-left: 50%;
				}

				.row2 > .col-7-xlarge {
					width: 58.33333%;
				}

				.row2 > .off-7-xlarge {
					margin-left: 58.33333%;
				}

				.row2 > .col-8-xlarge {
					width: 66.66667%;
				}

				.row2 > .off-8-xlarge {
					margin-left: 66.66667%;
				}

				.row2 > .col-9-xlarge {
					width: 75%;
				}

				.row2 > .off-9-xlarge {
					margin-left: 75%;
				}

				.row2 > .col-10-xlarge {
					width: 83.33333%;
				}

				.row2 > .off-10-xlarge {
					margin-left: 83.33333%;
				}

				.row2 > .col-11-xlarge {
					width: 91.66667%;
				}

				.row2 > .off-11-xlarge {
					margin-left: 91.66667%;
				}

				.row2 > .col-12-xlarge {
					width: 100%;
				}

				.row2 > .off-12-xlarge {
					margin-left: 100%;
				}

				.row2.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row2.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row2.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row2.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row2.gtr-25 {
					margin-top: -6.25px;
					margin-left: -6.25px;
				}

					.row2.gtr-25 > * {
						padding: 6.25px 0 0 6.25px;
					}

					.row2.gtr-25.gtr-uniform {
						margin-top: -6.25px;
					}

						.row2.gtr-25.gtr-uniform > * {
							padding-top: 6.25px;
						}

				.row2.gtr-50 {
					margin-top: -12.5px;
					margin-left: -12.5px;
				}

					.row2.gtr-50 > * {
						padding: 12.5px 0 0 12.5px;
					}

					.row2.gtr-50.gtr-uniform {
						margin-top: -12.5px;
					}

						.row2.gtr-50.gtr-uniform > * {
							padding-top: 12.5px;
						}

				.row2 {
					margin-top: -25px;
					margin-left: -25px;
				}

					.row2 > * {
						padding: 25px 0 0 25px;
					}

					.row2.gtr-uniform {
						margin-top: -25px;
					}

						.row2.gtr-uniform > * {
							padding-top: 25px;
						}

				.row2.gtr-150 {
					margin-top: -37.5px;
					margin-left: -37.5px;
				}

					.row2.gtr-150 > * {
						padding: 37.5px 0 0 37.5px;
					}

					.row2.gtr-150.gtr-uniform {
						margin-top: -37.5px;
					}

						.row2.gtr-150.gtr-uniform > * {
							padding-top: 37.5px;
						}

				.row2.gtr-200 {
					margin-top: -50px;
					margin-left: -50px;
				}

					.row2.gtr-200 > * {
						padding: 50px 0 0 50px;
					}

					.row2.gtr-200.gtr-uniform {
						margin-top: -50px;
					}

						.row2.gtr-200.gtr-uniform > * {
							padding-top: 50px;
						}

		}

		@media screen and (max-width: 1280px) {

			.row2 {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row2 > * {
					box-sizing: border-box;
				}

				.row2.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row2.aln-left {
					justify-content: flex-start;
				}

				.row2.aln-center {
					justify-content: center;
				}

				.row2.aln-right {
					justify-content: flex-end;
				}

				.row2.aln-top {
					align-items: flex-start;
				}

				.row2.aln-middle {
					align-items: center;
				}

				.row2.aln-bottom {
					align-items: flex-end;
				}

				.row2 > .imp-large {
					order: -1;
				}

				.row2 > .col-1-large {
					width: 8.33333%;
				}

				.row2 > .off-1-large {
					margin-left: 8.33333%;
				}

				.row2 > .col-2-large {
					width: 16.66667%;
				}

				.row2 > .off-2-large {
					margin-left: 16.66667%;
				}

				.row2 > .col-3-large {
					width: 25%;
				}

				.row2 > .off-3-large {
					margin-left: 25%;
				}

				.row2 > .col-4-large {
					width: 33.33333%;
				}

				.row2 > .off-4-large {
					margin-left: 33.33333%;
				}

				.row2 > .col-5-large {
					width: 41.66667%;
				}

				.row2 > .off-5-large {
					margin-left: 41.66667%;
				}

				.row2 > .col-6-large {
					width: 50%;
				}

				.row2 > .off-6-large {
					margin-left: 50%;
				}

				.row2 > .col-7-large {
					width: 58.33333%;
				}

				.row2 > .off-7-large {
					margin-left: 58.33333%;
				}

				.row2 > .col-8-large {
					width: 66.66667%;
				}

				.row2 > .off-8-large {
					margin-left: 66.66667%;
				}

				.row2 > .col-9-large {
					width: 75%;
				}

				.row2 > .off-9-large {
					margin-left: 75%;
				}

				.row2 > .col-10-large {
					width: 83.33333%;
				}

				.row2 > .off-10-large {
					margin-left: 83.33333%;
				}

				.row2 > .col-11-large {
					width: 91.66667%;
				}

				.row2 > .off-11-large {
					margin-left: 91.66667%;
				}

				.row2 > .col-12-large {
					width: 100%;
				}

				.row2 > .off-12-large {
					margin-left: 100%;
				}

				.row2.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row2.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row2.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row2.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row2.gtr-25 {
					margin-top: -6.25px;
					margin-left: -6.25px;
				}

					.row2.gtr-25 > * {
						padding: 6.25px 0 0 6.25px;
					}

					.row2.gtr-25.gtr-uniform {
						margin-top: -6.25px;
					}

						.row2.gtr-25.gtr-uniform > * {
							padding-top: 6.25px;
						}

				.row2.gtr-50 {
					margin-top: -12.5px;
					margin-left: -12.5px;
				}

					.row2.gtr-50 > * {
						padding: 12.5px 0 0 12.5px;
					}

					.row2.gtr-50.gtr-uniform {
						margin-top: -12.5px;
					}

						.row2.gtr-50.gtr-uniform > * {
							padding-top: 12.5px;
						}

				.row2 {
					margin-top: -25px;
					margin-left: -25px;
				}

					.row2 > * {
						padding: 25px 0 0 25px;
					}

					.row2.gtr-uniform {
						margin-top: -25px;
					}

						.row2.gtr-uniform > * {
							padding-top: 25px;
						}

				.row2.gtr-150 {
					margin-top: -37.5px;
					margin-left: -37.5px;
				}

					.row2.gtr-150 > * {
						padding: 37.5px 0 0 37.5px;
					}

					.row2.gtr-150.gtr-uniform {
						margin-top: -37.5px;
					}

						.row2.gtr-150.gtr-uniform > * {
							padding-top: 37.5px;
						}

				.row2.gtr-200 {
					margin-top: -50px;
					margin-left: -50px;
				}

					.row2.gtr-200 > * {
						padding: 50px 0 0 50px;
					}

					.row2.gtr-200.gtr-uniform {
						margin-top: -50px;
					}

						.row2.gtr-200.gtr-uniform > * {
							padding-top: 50px;
						}

		}

		@media screen and (max-width: 980px) {

			.row2 {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row2 > * {
					box-sizing: border-box;
				}

				.row2.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row2.aln-left {
					justify-content: flex-start;
				}

				.row2.aln-center {
					justify-content: center;
				}

				.row2.aln-right {
					justify-content: flex-end;
				}

				.row2.aln-top {
					align-items: flex-start;
				}

				.row2.aln-middle {
					align-items: center;
				}

				.row2.aln-bottom {
					align-items: flex-end;
				}

				.row2 > .imp-medium {
					order: -1;
				}

				.row2 > .col-1-medium {
					width: 8.33333%;
				}

				.row2 > .off-1-medium {
					margin-left: 8.33333%;
				}

				.row2 > .col-2-medium {
					width: 16.66667%;
				}

				.row2 > .off-2-medium {
					margin-left: 16.66667%;
				}

				.row2 > .col-3-medium {
					width: 25%;
				}

				.row2 > .off-3-medium {
					margin-left: 25%;
				}

				.row2 > .col-4-medium {
					width: 33.33333%;
				}

				.row2 > .off-4-medium {
					margin-left: 33.33333%;
				}

				.row2 > .col-5-medium {
					width: 41.66667%;
				}

				.row2 > .off-5-medium {
					margin-left: 41.66667%;
				}

				.row2 > .col-6-medium {
					width: 50%;
				}

				.row2 > .off-6-medium {
					margin-left: 50%;
				}

				.row2 > .col-7-medium {
					width: 58.33333%;
				}

				.row2 > .off-7-medium {
					margin-left: 58.33333%;
				}

				.row2 > .col-8-medium {
					width: 66.66667%;
				}

				.row2 > .off-8-medium {
					margin-left: 66.66667%;
				}

				.row2 > .col-9-medium {
					width: 75%;
				}

				.row2 > .off-9-medium {
					margin-left: 75%;
				}

				.row2 > .col-10-medium {
					width: 83.33333%;
				}

				.row2 > .off-10-medium {
					margin-left: 83.33333%;
				}

				.row2 > .col-11-medium {
					width: 91.66667%;
				}

				.row2 > .off-11-medium {
					margin-left: 91.66667%;
				}

				.row2 > .col-12-medium {
					width: 100%;
				}

				.row2 > .off-12-medium {
					margin-left: 100%;
				}

				.row2.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row2.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row2.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row2.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row2.gtr-25 {
					margin-top: -6.25px;
					margin-left: -6.25px;
				}

					.row2.gtr-25 > * {
						padding: 6.25px 0 0 6.25px;
					}

					.row2.gtr-25.gtr-uniform {
						margin-top: -6.25px;
					}

						.row2.gtr-25.gtr-uniform > * {
							padding-top: 6.25px;
						}

				.row2.gtr-50 {
					margin-top: -12.5px;
					margin-left: -12.5px;
				}

					.row2.gtr-50 > * {
						padding: 12.5px 0 0 12.5px;
					}

					.row2.gtr-50.gtr-uniform {
						margin-top: -12.5px;
					}

						.row2.gtr-50.gtr-uniform > * {
							padding-top: 12.5px;
						}

				.row2 {
					margin-top: -25px;
					margin-left: -25px;
				}

					.row2 > * {
						padding: 25px 0 0 25px;
					}

					.row2.gtr-uniform {
						margin-top: -25px;
					}

						.row2.gtr-uniform > * {
							padding-top: 25px;
						}

				.row2.gtr-150 {
					margin-top: -37.5px;
					margin-left: -37.5px;
				}

					.row2.gtr-150 > * {
						padding: 37.5px 0 0 37.5px;
					}

					.row2.gtr-150.gtr-uniform {
						margin-top: -37.5px;
					}

						.row2.gtr-150.gtr-uniform > * {
							padding-top: 37.5px;
						}

				.row2.gtr-200 {
					margin-top: -50px;
					margin-left: -50px;
				}

					.row2.gtr-200 > * {
						padding: 50px 0 0 50px;
					}

					.row2.gtr-200.gtr-uniform {
						margin-top: -50px;
					}

						.row2.gtr-200.gtr-uniform > * {
							padding-top: 50px;
						}

		}

		@media screen and (max-width: 736px) {

			.row2 {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row2 > * {
					box-sizing: border-box;
				}

				.row2.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row2.aln-left {
					justify-content: flex-start;
				}

				.row2.aln-center {
					justify-content: center;
				}

				.row2.aln-right {
					justify-content: flex-end;
				}

				.row2.aln-top {
					align-items: flex-start;
				}

				.row2.aln-middle {
					align-items: center;
				}

				.row2.aln-bottom {
					align-items: flex-end;
				}

				.row2 > .imp-small {
					order: -1;
				}

				.row2 > .col-1-small {
					width: 8.33333%;
				}

				.row2 > .off-1-small {
					margin-left: 8.33333%;
				}

				.row2 > .col-2-small {
					width: 16.66667%;
				}

				.row2 > .off-2-small {
					margin-left: 16.66667%;
				}

				.row2 > .col-3-small {
					width: 25%;
				}

				.row2 > .off-3-small {
					margin-left: 25%;
				}

				.row2 > .col-4-small {
					width: 33.33333%;
				}

				.row2 > .off-4-small {
					margin-left: 33.33333%;
				}

				.row2 > .col-5-small {
					width: 41.66667%;
				}

				.row2 > .off-5-small {
					margin-left: 41.66667%;
				}

				.row2 > .col-6-small {
					width: 50%;
				}

				.row2 > .off-6-small {
					margin-left: 50%;
				}

				.row2 > .col-7-small {
					width: 58.33333%;
				}

				.row2 > .off-7-small {
					margin-left: 58.33333%;
				}

				.row2 > .col-8-small {
					width: 66.66667%;
				}

				.row2 > .off-8-small {
					margin-left: 66.66667%;
				}

				.row2 > .col-9-small {
					width: 75%;
				}

				.row2 > .off-9-small {
					margin-left: 75%;
				}

				.row2 > .col-10-small {
					width: 83.33333%;
				}

				.row2 > .off-10-small {
					margin-left: 83.33333%;
				}

				.row2 > .col-11-small {
					width: 91.66667%;
				}

				.row2 > .off-11-small {
					margin-left: 91.66667%;
				}

				.row2 > .col-12-small {
					width: 100%;
				}

				.row2 > .off-12-small {
					margin-left: 100%;
				}

				.row2.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row2.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row2.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row2.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row2.gtr-25 {
					margin-top: -3.75px;
					margin-left: -3.75px;
				}

					.row2.gtr-25 > * {
						padding: 3.75px 0 0 3.75px;
					}

					.row2.gtr-25.gtr-uniform {
						margin-top: -3.75px;
					}

						.row2.gtr-25.gtr-uniform > * {
							padding-top: 3.75px;
						}

				.row2.gtr-50 {
					margin-top: -7.5px;
					margin-left: -7.5px;
				}

					.row2.gtr-50 > * {
						padding: 7.5px 0 0 7.5px;
					}

					.row2.gtr-50.gtr-uniform {
						margin-top: -7.5px;
					}

						.row2.gtr-50.gtr-uniform > * {
							padding-top: 7.5px;
						}

				.row2 {
					margin-top: -15px;
					margin-left: -15px;
				}

					.row2 > * {
						padding: 15px 0 0 15px;
					}

					.row2.gtr-uniform {
						margin-top: -15px;
					}

						.row2.gtr-uniform > * {
							padding-top: 15px;
						}

				.row2.gtr-150 {
					margin-top: -22.5px;
					margin-left: -22.5px;
				}

					.row2.gtr-150 > * {
						padding: 22.5px 0 0 22.5px;
					}

					.row2.gtr-150.gtr-uniform {
						margin-top: -22.5px;
					}

						.row2.gtr-150.gtr-uniform > * {
							padding-top: 22.5px;
						}

				.row2.gtr-200 {
					margin-top: -30px;
					margin-left: -30px;
				}

					.row2.gtr-200 > * {
						padding: 30px 0 0 30px;
					}

					.row2.gtr-200.gtr-uniform {
						margin-top: -30px;
					}

						.row2.gtr-200.gtr-uniform > * {
							padding-top: 30px;
						}

		}


		/* Social */

	ul.social {
		cursor: default;
		margin: 0;
		list-style: none;
		padding-left: 0;
	}

		ul.social li {
			position: relative;
			display: inline-block;
			margin: 0.25em;
			top: 0;
			padding-left: 0;
		}

			ul.social li a {
				-moz-transition: top .2s ease-in-out;
				-webkit-transition: top .2s ease-in-out;
				-ms-transition: top .2s ease-in-out;
				transition: top .2s ease-in-out;
				display: block;
				width: 48px;
				height: 48px;
				border-radius: 6px;
				top: 0;
				position: relative;
			}

				ul.social li a:before {
					background-image: url("images/bg.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("images/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("images/bg.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					background-image: url("images/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
					-moz-transition: background-color .2s ease-in-out;
					-webkit-transition: background-color .2s ease-in-out;
					-ms-transition: background-color .2s ease-in-out;
					transition: background-color .2s ease-in-out;
					background-color: #444;
					border-radius: 6px;
					box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
					color: #2E2E2E !important;
					display: block;
					font-size: 26px;
					height: 48px;
					line-height: 48px;
					text-align: center;
					outline: 0;
					overflow: hidden;
					text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
					width: 48px;
				}

				ul.social li a.fa-twitter {
					background-color: #2DAAE4;
				}

				ul.social li a.fa-facebook-f {
					background-color: #3C5A98;
				}

				ul.social li a.fa-dribbble {
					background-color: #C4376B;
				}

				ul.social li a.fa-linkedin-in {
					background-color: #006599;
				}

				ul.social li a.fa-tumblr {
					background-color: #51718A;
				}

				ul.social li a.fa-google-plus {
					background-color: #DA2713;
				}

				ul.social li a.fa-github {
					background-color: #FAFAFA;
				}

				ul.social li a.fa-rss {
					background-color: #F2600B;
				}

				ul.social li a.fa-instagram {
					background-color: #E0D7C8;
				}

				ul.social li a.fa-foursquare {
					background-color: #39A3D4;
				}

				ul.social li a.fa-skype {
					background-color: #10BEF1;
				}

				ul.social li a.fa-soundcloud {
					background-color: #FE5419;
				}

				ul.social li a.fa-youtube {
					background-color: #BF2E25;
				}

				ul.social li a.fa-blogger {
					background-color: #FF6501;
				}

				ul.social li a.fa-flickr {
					background-color: #0062DB;
				}

				ul.social li a.fa-vimeo {
					background-color: #4C8AB0;
				}

				ul.social li a:hover {
					top: -5px;
				}

					ul.social li a:hover:before {
						background-color: transparent;
					}


		/* Box */

	.box {
		background: #fff;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
		text-align: center;
		padding: 2em;
	}

		.box.style1 {
			padding: 3em 2em 3.5em 2em;
		}

			.box.style1 h3 {
				margin-bottom: 0.5em;
			}

		.box.style2 h3 {
			margin-bottom: 0.25em;
		}

		.box.style2 .image2 {
			position: relative;
			left: 2em;
			top: 2em;
			margin: -4em 0 4em -4em;
			width: auto;
		}


		/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tr {
				border-top: solid 1px #eee;
			}

				table.default tr:first-child {
					border-top: 0;
				}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				padding: 0.5em 1em 0.5em 1em;
				font-weight: 600;
				margin: 0 0 1em 0;
			}

			table.default thead {
				background: #4f4f4f;
				color: #fff;
			}

		/* Section/Article */

	section, article {
		margin-bottom: 3em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}
		/* Image2 */

	.image2 {
		display: inline-block;
		position: relative;
	}

		.image2 img {
			display: block;
			width: 100%;
		}

		.image2.fit {
			display: block;
			width: 100%;
		}

		.image2.featured {
			display: block;
			width: 100%;
			margin: 0 0 0 0;
		}

		.image2.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image2.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image2.centered img {
				margin: 0 auto;
				width: auto;
			}

			/* Icons */

	.icon {
		text-decoration: none;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon:before {
			font-size: 1.25em;
		}

		.icon > .label {
			display: none;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

		.icon.featured {
			color: #EA8A95;
			display: block;
			margin: 0 0 1.5em 0;
			cursor: default;
		}

			.icon.featured:before {
				font-size: 6em;
			}



/* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body {
				font-size: 11pt;
			}

			input, textarea, select {
				font-size: 11pt;
			}

			header {
				margin: 0 0 4em 0;
			}

		/* Wrappers */

			.wrapper {
				padding: 5em 0 5em 0;
				text-align: center;
			}

				.wrapper.style4 .row2-special {
					margin: 2em 0 0 0;
					padding: 2em 0 2em 0;
				}

		/* Articles */

			#top {
				padding: 8em 0;
			}

				#top .image {
					width: 24em;
					height: 24em;
					margin: 0;
				}

	}

/* Medium */

	@media screen and (max-width: 980px) {

		/* Articles */

			#top {
				text-align: center;
				padding: 5em 0;
			}

				#top .image {
					margin: 0 auto 2em auto;
				}

	}

/* Small */

	@media screen and (max-width: 736px) {

		/* Basic */

			body {
				padding-top: 44px;
			}

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 10pt;
				letter-spacing: 0;
			}

			h1, h2, h3, h4, h5, h6 {
				font-size: 1.25em;
				margin: 0 0 0.4em 0;
			}

			h1 {
				font-size: 2.25em;
				line-height: 1.25em;
			}

			header {
				margin: 0 0 2em 0;
			}

				header > p {
					font-size: 1.25em;
				}

			footer {
				margin: 2.5em 0 0 0;
			}

				footer > p {
					font-size: 1.25em;
				}

			hr {
				margin: 1.5em 0 2em 0;
			}

		/* Section/Article */

			section, article {
				clear: both;
			}

		

		/* Social */

			ul.social {
				padding: 1em 0.5em 0 0.5em;
			}

				ul.social li {
					margin: 0.5em 0.5em 0.5em 0.5em;
				}

					ul.social li a {
						top: 0 !important;
					}

						ul.social li a:before {
							background-color: transparent !important;
						}

		/* Actions */

			ul.actions {
				margin: 0;
			}

				ul.actions li {
					display: block;
					margin: 15px 0 0 0;
				}

					ul.actions li:first-child {
						margin-top: 0;
					}

		/* Box */

			.box {
				padding: 30px 20px 30px 20px;
				margin: 0 0 20px 0 !important;
			}

				.box h3 {
					margin-bottom: 0.25em;
				}

				.box .image2.centered {
					margin-bottom: 1em;
				}

				.box .image2.featured {
					position: relative;
					left: 20px;
					top: 20px;
					margin: -50px 0 50px -40px;
					width: auto;
				}

				.box.style1 {
					max-width: 32em;
					margin-left: auto !important;
					margin-right: auto !important;
				}

				.box.style2 {
					max-width: 32em;
					margin-left: auto !important;
					margin-right: auto !important;
				}

		/* Nav */

			#nav {
				height: 44px;
				line-height: 44px;
			}

				#nav a {
					padding: 0 0.75em;
					height: inherit;
					line-height: inherit;
					border-radius: 0;
				}

					#nav a:hover {
						background-color: transparent;
					}

		/* Articles */

			#top {
				padding: 3em 0;
			}

				#top .image {
					width: 15em;
					height: 15em;
					margin-bottom: 0;
				}

				#top p {
					font-size: 1em;
				}

			#contact footer {
				margin: 0;
			}

		

	}