html {overflow-y: scroll;}

.justify{text-align:justify!important}.center{text-align:center!important}
.content,.auto{margin-left:auto;margin-right:auto}.content{max-width:980px}.auto{max-width:1140px}


body {
	font-family: 'Source Code Pro', monospace;
	background-color: #333333;
	
	margin-left:auto;
	margin-right:auto;

	overflow-x: hidden;
  }
  
  .sidenav {
	height: 100%;
	width: 400px;

	position:fixed;
	z-index: 3;
	top: 0;
	background-color: #222222;
	overflow-x: hidden;
	padding-top: 20px;

	-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

  }
  .sidenav::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


  .sidenav h1 {
	padding: 0px 6px 6px 6px;
	margin-top: 40px;
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 4.5em;
	font-weight: 500;
	color: #F2F2F2;
	display: block;
	text-align: center;
  }

  .sidenav h2 {
	text-decoration: none;
	letter-spacing: 1.5px;
	font-size: 2em;
	font-weight: 500;
	color: #F2F2F2;
	display: block;
  }
  
  .sidenav p {
	text-decoration: none;
	letter-spacing: 1.5px;
	font-size: 1.5em;
	font-weight: 500;
	color: #F2F2F2;
	display: block;
  }

  .sidenav a {
	text-decoration: none;
	color: #F2F2F2;
	display: block;
  }

  .header {
	margin-top: 40px;
	padding: 6px 6px 6px 100px;
  }
  .subheader {
	padding: 5px 6px 5px 120px;
  }
  
  .main {
	margin-left: 400px; /* Same as the width of the sidenav */
  }

  .topnav {
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #222222;
	overflow-y: hidden;
	text-align: justify; 
  }

  .topnav:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

  .topnav h1 {
	  margin: 1px 20px 0px 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 2em;
	font-weight: 500;
	color: #F2F2F2;
	display: inline-block;
  }


  .imageOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #2b2b2b;
	margin: auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
  }
  
  .imageOverlay:hover {
	opacity: .8;
  }

  hr { flex-basis: 100%; height: 0; margin: 0; border: 0; }


  .closedPage{
	position: fixed;
	width:100%;
	height:100%;
	background-color: #222222;
	top:0;
	left:0;
	z-index: 50;
	margin: auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: wrap;
  }

  .openedPage{
	position: fixed;
	width:100%;
	height:100%;
	background-color: #222222;
	top:-100%;
	left:0;
	z-index: 50;
	margin: auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: wrap;
	overflow: hidden;

	-webkit-animation-name: slideOut;
	-webkit-animation-duration: 1s;
	animation-name: slideOut;
	animation-duration: 1s;
  }

  .closedPageText h1{
	font-family: 'Source Code Pro', monospace;
	letter-spacing: 6px;
	text-align: center;
	padding-top: 100px;
	font-size: 8em;
	font-weight: 400;
	color: #F2F2F2;
  }

  .closedPageText h2{
	text-align: center;
	letter-spacing: 3px;
	font-size: 4em;
	font-weight: 400;
	color: #F2F2F2;
	padding: 0px 50px;
  }
  .downArrow{
	padding-top:100px; 
	height: 50px; 
	display: flex; 
	justify-content: center; 
	margin: auto;
  }


  .sortHide{
	display: none;
  }
  .aboutMe{
	display: none;
  }




.button:hover{color:#000!important;background-color:#858585!important}
.button.active{color:#000!important;background-color:#f1f1f1!important}
@media (min-width:981px){.hide-large{display:none!important}.sidenav.collapse{display:block!important}}
@media (max-width:980px){.sidenav.collapse{display:none}.main{margin-left:0!important;margin-right:0!important}.auto{max-width:100%}}
.overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

  /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 4; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow:scroll; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.8s;
	animation-name: fadeIn;
	animation-duration: 0.8s
  }
  
  /* Modal Content */
  .modal-content {
	position: fixed;
	z-index: 5;
	background-color: #363636;
	height: 100%;
	margin-left: 500px;
	overflow:inherit;
	width: -webkit-calc(100% - 500px);
    width:    -moz-calc(100% - 500px);
    width:         calc(100% - 500px);
	
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.8s;
	animation-name: slideIn;
	animation-duration: 0.8s;


	overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
.modal-content::-webkit-scrollbar { /* WebKit */
	display: none;
    width: 0;
    height: 0;
}

@media screen and (max-width: 1440px) {

	.sidenav {
		width: 300px;
	}
	.main {
		margin-left: 300px; /* Same as the width of the sidenav */
	}
	.sidenav h1 {
	padding: 0px 6px 6px 6px;
	}
	.header {
	padding: 6px 6px 6px 50px;
	}
	.subheader {
	padding: 5px 6px 5px 70px;
	}
	.modal-content {
		margin-left: 400px;
		width: -webkit-calc(100% - 400px);
		width:    -moz-calc(100% - 400px);
		width:         calc(100% - 400px);
	}

	.closedPageText h1{
		font-size: 6.5em;

	}
	.closedPageText h2{
		font-size: 2.5em;
	}
	.downArrow{
		height: 35px; 
	}
	.backArrow{
		height: 35px; 
	}
	.closeArrow{
		height: 35px; 
	}
	.nextArrow{
		height: 35px; 
	}

  }

  @media screen and (max-width: 980px) {

	.modal-content {
		width: 100%;
		margin-left: 0px;
		
	}

	.closedPageText h1{
		font-size: 4em;

	}
	.closedPageText h2{
		font-size: 1.5em;
	}
	.downArrow{
		height: 25px; 
	}
	.backArrow{
		height: 25px; 
	}
	.closeArrow{
		height: 25px; 
	}
	.nextArrow{
		height: 25px; 
	}

}
@media screen and (max-width: 736px) {

	.closedPageText h1{
		font-size: 3em;

	}
	.closedPageText h2{
		font-size: 1.5em;
	}
}

.arrowBar{
	display: flex;
	justify-content: space-between;
	width:100%;
}

  
  /* The Close Button */
  .backArrow {
	
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
	height: 50px; 
	z-index: 9;	
  }
  
  .backArrow:hover,
  .backArrow:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .closeArrow {
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
	height: 50px; 
	z-index: 9;	
  }
  
  .closeArrow:hover,
  .closeArrow:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .nextArrow {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	height: 50px; 
	z-index: 9;	
  }
  
  .nextArrow:hover,
  .nextArrow:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .show {
	display: block!important;
  }
  

  	
  .modal-body {
	  padding: 20px 20px 20px 20px;
	  
	}
  
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
	from {right: -300px; opacity: 1} 
	to {right: 100%; opacity: 1}
  }
  
  @keyframes slideIn {
	from {left: 100%; opacity: 1}
	to {left: 0px; opacity: 1}
  }

  @-webkit-keyframes slideOut {
	from {top: 0%; opacity: 1} 
	to {top: -100%; opacity: 1}
  }
  
  @keyframes slideOut {
	from {top: 0%; opacity: 1}
	to {top: -100%; opacity: 1}
  }

  
  @-webkit-keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
  }
  
  @keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
  }

  /* container2 */

	.container2 {
		margin: 0 auto;
		margin-top: 20px;
		max-width: calc(100% - 50px);
		max-height: calc(100% - 50px);
		/*width: 1200px;*/
	}



		@media screen and (max-width: 1280px) {
			.container2 {
				width: 960px;
			}
		}

		@media screen and (max-width: 980px) {
			.container2 {
				width: 100%;
				margin-top: 100px;
			}
			.container2.conInside {
				margin-top: 0px;
			}
			.container2 h3 {
				text-align: center;
			}
		}

		@media screen and (max-width: 736px) {
			.container2 {
				width: 100%;
				max-width: calc(100% - 30px);
			}

			

		}



		.container2 h2 {
			text-decoration: none;
			letter-spacing: 1.5px;
			font-size: 3em;
			font-weight: 500;
			color: #F2F2F2;
			display: block;
			text-align: center;
		}

		.container2 h3 {
			text-decoration: none;
			font-size: 3em;
			font-weight: 500;
			color: #F2F2F2;
			display: block;
		}

		.container2 p {
			font-family: 'Poppins', sans-serif;
			font-weight: 200;
			text-decoration: none;
			font-size: 1.2em;
			line-height: 150%;
			color: #f2f2f2c5;
			display: block;
		}

		.container2 a {
			color: #f2f2f2c5;
		}



  .row2 {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}

	.row2 > * {
		box-sizing: border-box;
	}

	.row2.gtr-uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row2.aln-left {
		justify-content: flex-start;
	}

	.row2.aln-center {
		justify-content: center;
	}

	.row2.aln-right {
		justify-content: flex-end;
	}

	.row2.aln-top {
		align-items: flex-start;
	}

	.row2.aln-middle {
		align-items: center;
	}

	.row2.aln-bottom {
		align-items: flex-end;
	}

	.row2 > .imp {
		order: -1;
	}

	.row2 > .col-4 {
		width: 33.33333%;
	}

	.row2 > .off-4 {
		margin-left: 33.33333%;
	}
	.row2 > .col-6 {
		width: 50%;
	}

	.row2 > .off-6 {
		margin-left: 50%;
	}


	.row2 {
		margin-top: -25px;
		margin-left: -25px;
	}

		.row2 > * {
			padding: 25px 0 0 25px;
		}

	@media screen and (max-width: 1440px) {

		.row2 {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
		}

			.row2 > * {
				box-sizing: border-box;
			}

			.row2.gtr-uniform > * > :last-child {
				margin-bottom: 0;
			}

			.row2.aln-left {
				justify-content: flex-start;
			}

			.row2.aln-center {
				justify-content: center;
			}

			.row2.aln-right {
				justify-content: flex-end;
			}

			.row2.aln-top {
				align-items: flex-start;
			}

			.row2.aln-middle {
				align-items: center;
			}

			.row2.aln-bottom {
				align-items: flex-end;
			}

			.row2 > .imp-medium {
				order: -1;
			}

			.row2 > .col-6-medium {
				width: 50%;
			}

			.row2 > .off-6-medium {
				margin-left: 50%;
			}
	}

	@media screen and (max-width: 736px) {

		.row2 {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
		}

			.row2 > * {
				box-sizing: border-box;
			}

			.row2.gtr-uniform > * > :last-child {
				margin-bottom: 0;
			}

			.row2.aln-left {
				justify-content: flex-start;
			}

			.row2.aln-center {
				justify-content: center;
			}

			.row2.aln-right {
				justify-content: flex-end;
			}

			.row2.aln-top {
				align-items: flex-start;
			}

			.row2.aln-middle {
				align-items: center;
			}

			.row2.aln-bottom {
				align-items: flex-end;
			}

			.row2 > .imp-small {
				order: -1;
			}

			.row2 > .col-12-small {
				width: 100%;
			}

			.row2 > .off-12-small {
				margin-left: 100%;
			}
	}

			/* Image2 */

			.image2 {
				display: inline-block;
				position: relative;
				
			}
		
				.image2 img {
					display: block;
					width: 100%;
				}
		
				.image2.fit {
					display: block;
					width: 100%;
				}
		
				.image2.featured {
					display: block;
					width: 100%;
					margin: 0 0 0 0;
				}
		
				.image2.left {
					float: left;
					margin: 0 2em 2em 0;
				}
		
				.image2.centered {
					display: block;
					margin: 0 0 2em 0;
				}
		
					.image2.centered img {
						margin: 0 auto;
						width: auto;
					}